__pycache__/
__pypackages__/
.ansible_facts
.ansible/
.cache
.coverage
.coverage.*
.dmypy.json
.DS_Store
.env
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.private/
.pyre/
.pytest_cache/
.Python
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.vault[_-]pass*
.venv
.webassets-cache
*-artifact-*
*.cover
*.egg
*.egg-info/
*.idea/
*.log
*.manifest
*.mo
*.pass
*.pot
*.py,cover
*.py[cod]
*.retry
*.sage.py
*.so
*.spec
*.sw[op]
*$py.class
*eggs/
*env.bak/
/changelogs/.plugin-cache.yaml
/site
/tests/output/
ansible*.log.*
build/
celerybeat*
coverage.xml
db.sqlite3*
dist/
dmypy.json
docs/_build/
downloads/
env/
ENV/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
MANIFEST
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
sdist/
share/python-wheels/
target/
var/
venv/
wheels/
